main {
  background-color: $colorBackground;
  width: 100%;
  font-family: $font;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 35px;
  color: $colorText;
}
.recipes {
    margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 45px;
}
.recipe {
  background-image: url(https://img.freepik.com/vector-gratis/fondo-floral-acuarela_125540-829.jpg?w=2000);
  width: 80%;
  box-sizing: border-box;
  border-radius: 40px;
  margin-bottom: 20px;
  margin-right: auto;
  font-weight: 900;
  box-shadow: 0px 5px 5px rgba(5, 110, 56, 0.5);
}
.image {
  border-radius: 10px;
  width: 150px;
}
/*.calories {
  color: rgb(255, 128, 0);
}*/
