main{
    background-color: $colorBackground;
    width: 100%;
    font-family: $font;
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 35px;
}