main {
  background-color: $colorBackground;
  width: 100%;
  font-family: $font;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 35px;
  color: $colorText;
}
.recipe {
  background-image: url(https://img.freepik.com/vector-gratis/fondo-floral-acuarela_125540-829.jpg?w=2000);
  width: 80%;
  box-sizing: border-box;
  border-radius: 40px;
  margin-bottom: 20px;
  margin-right: auto;
  font-weight: 900;
  box-shadow: 0px 5px 5px rgba(5, 110, 56, 0.5);
}
.image {
  border-radius: 10px;
  width: 150px;
}
ul {
  list-style: none;
}

.recoverbutton,
.savebutton {
  width: 150px;
  height: 35px;
  background: #e5eb94;
  background-image: -webkit-linear-gradient(top, #e5eb94, #20b076);
  background-image: -moz-linear-gradient(top, #e5eb94, #20b076);
  background-image: -ms-linear-gradient(top, #e5eb94, #20b076);
  background-image: -o-linear-gradient(top, #e5eb94, #20b076);
  background-image: linear-gradient(to bottom, #e5eb94, #20b076);
  border: none;
  border-radius: 11px;
  text-shadow: 1px 1px 1px #eef158;
  -webkit-box-shadow: 6px 5px 24px #074326;
  -moz-box-shadow: 6px 5px 24px #074326;
  box-shadow: 6px 5px 24px #074326;
  font-family: $font;
  color: $colorText;
  font-size: 18px;
}
